﻿@{
    ViewData["Title"] = "Home Page";
}
@* <script src="https://www.google.com/recaptcha/api.js"></script> *@
@* <script src="https://www.google.com/recaptcha/api.js?render=6LfoQTcbAAAAAEd5aGWOlg-_TK0teGmmCP4Qgh5n"></script> *@
@* <script src="https://www.recaptcha.net/recaptcha/api.js?render=6LfoQTcbAAAAAEd5aGWOlg-_TK0teGmmCP4Qgh5n"></script> *@
@* *@
@* <script> *@
@*    function onSubmit(token) { *@
@*      document.getElementById("demo-form").submit(); *@
@*    } *@
@*  </script> *@
@* <button class="g-recaptcha"  *@
@*         data-sitekey="reCAPTCHA_site_key"  *@
@*         data-callback='onSubmit'  *@
@*         data-action='submit'>Submit</button> *@
@* *@
@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@
<input id="g-recaptcha-response" name="g-recaptcha-response" type="hidden" value="" />
<script   src="https://www.recaptcha.net/recaptcha/api.js?render=6LfoQTcbAAAAAEd5aGWOlg-_TK0teGmmCP4Qgh5n" async defer ></script>
<script>
	if (typeof grecaptcha !== 'undefined') {
		grecaptcha.ready(function () {
			grecaptcha.execute('6LcrstoZAAAAAHuoaPzwFdfabo3TpLG0HAGKTm2B', { 'action': 'homepage' }).then(function (token) {
				document.getElementById('g-recaptcha-response').value = token;
			});
		});
	}
</script>
@* *@
@* <input id="g-recaptcha-response" name="g-recaptcha-response" type="hidden" value="" /> *@
@* <script   src="https://www.google.com/recaptcha/api.js?render=6LcrstoZAAAAAHuoaPzwFdfabo3TpLG0HAGKTm2B&hl=en" async defer ></script> *@
@* <script> *@
@* 	if (typeof grecaptcha !== 'undefined') { *@
@* 		grecaptcha.ready(function () { *@
@* 			grecaptcha.execute('6LcrstoZAAAAAHuoaPzwFdfabo3TpLG0HAGKTm2B', { 'action': 'homepage' }).then(function (token) { *@
@* 				document.getElementById('g-recaptcha-response').value = token; *@
@* 			}); *@
@* 		}); *@
@* 	} *@
@* </script> *@