﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html>

<head>
  <title>Signup</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="icon" href="data:;base64,=">

  <style>
    body {
      background-color: whitesmoke;
    }

    form {
      float: left;
      border: 1px solid rgb(21, 0, 255);
      margin: 10px;
    }

    input,
    label,
    td,
    h3 {
      display: block;
      padding: 5px;
    }

    .loader {
      float: right;
      padding: 2px;

      border: 2px solid #f3f3f3;
      border-radius: 50%;
      border-top: 2px solid #3498db;
      width: 15px;
      height: 15px;
      -webkit-animation: spin 2s linear infinite;
      /* Safari */
      animation: spin 2s linear infinite;
    }


  </style>
</head>

<body>
  <h3>Google Recaptcha V3 Demo</h3>
  <form id="myRecaptchaForm">
    <table>
      <tr>
        <td>
          <label for="RecaptchaKey">Gooogle reCaptcha sitekey</label><textarea required
            style="display: inline-table; width: 185px" id="RecaptchaKey" name="RecaptchaKey">6LfoQTcbAAAAAEd5aGWOlg-_TK0teGmmCP4Qgh5n</textarea>
        </td>
        <td>
          <input style="display: inline-table; width: 150px" id="RecaptchaButton" type="submit" value="Submit" />
          <div id="loader1" class="loader"></div>
        </td>
        <td>
          <textarea name="recaptcha_challenge_field" rows="3" cols="40">
               </textarea>
          <input type="hidden" name="recaptcha_response_field"
                 value="manual_challenge">
        </td>
      </tr>
    </table>
  </form>

  <form id="mySignupForm">
    <table>
      <tr>
        <td>
          <label for="FirstName">First Name:</label><input required id="FirstName" name="FirstName" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="LastName">Last Name:</label><input required id="LastName" name="LastName" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="Email">Email Address:</label><input required id="Email" name="Email" />
        </td>
      </tr>
      <tr>
        <td>
          <input style="display: inline-table; width: 125px" id="SignupButton" type="submit" value="Submit" />
          <div id="loader2" class="loader"></div>
        </td>
      </tr>
    </table>
  </form>
  <form>
    <tr>
      <td>
        <textarea readonly style="margin: 5px; width: 300px; height: 300px" id="log"></textarea>
      </td>
    </tr>
  </form>
  <form>
    <button style="background-color: lightgray" onclick="clearText()">
      Clear Log & Refresh
    </button>
  </form>
  <script>

    //init
    var globkey = "";
    window.onload = function () {
      document.getElementById("log").scrollTop = document.getElementById(
        "log"
      ).scrollHeight;
      document
        .getElementById("SignupButton")
        .addEventListener("click", onClickSignup, false);
      document
        .getElementById("RecaptchaButton")
        .addEventListener("click", onClickSiteKey, false);
      // document.getElementById("SignupButton").disabled = true;

      toggleLoader(1, "hidden");
      toggleLoader(2, "hidden");
    };

    //core
    async function onClickSiteKey(e) {
      e.preventDefault();

      globkey = document.getElementById("RecaptchaKey").value;

      if (globkey < 10) {
        return;
      }

      toggleLoader(1, "visible");
      document.getElementById("SignupButton").disabled = true;
      document.getElementById("RecaptchaButton").disabled = true;

      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src =
        "https://www.recaptcha.net/recaptcha/api.js?render=" + globkey;
      document.body.appendChild(script);
      addText(
        "Dynamically added Google reCaptcha script to the page with your sitekey."
      );

      addText("Waiting for 5 seconds, give scripts time to load.");

      // await sleep(5000);
      document.getElementById("RecaptchaButton").disabled = false;
      document.getElementById("SignupButton").disabled = false;
      toggleLoader(1, "hidden");

      addText("reCaptcha script should be ready!");
    }

    function onClickSignup(e) {
      e.preventDefault();
      var form = document.getElementById("mySignupForm").elements;

      for (var i = 0; i < form.length; i++) {
        if (form[i].type == "text") {
          if (form[i].value < 1) {
            return;
          }
        }
      }

      toggleLoader(2, "visible");
      grecaptcha.ready(function () {
        addText("Executing 1st reCaptcha validation (frontend -> Google).");
        grecaptcha.execute(globkey, { action: "submit" }).then(
          function (token) {
            //success
            addText("Received token from Google: " + token);
            sendData(token);
          },
          function (reason) {
            //error
            addText(reason);
            toggleLoader(2, "hidden");
          }
        );
      });
    }

    // async function sendData(recaptok) {
    //   addText(
    //     "Sending token to server for 2nd validation (frontend -> backend)."
    //   );
    //   const frm = document.getElementById("mySignupForm");
    //   const params = new URLSearchParams([...new FormData(frm).entries()]);
    //   params.append("RecaptchaToken", recaptok);
    //   fetch("https://localhost:5001/public/signup?" + params, {
    //     method: "POST",
    //     body: params,
    //   }).then((response) => {
    //     if (!response.ok) {
    //       const errorBuild = {
    //         type: "Error",
    //         message: response.message || "Something went wrong",
    //         data: response.data || "",
    //         code: response.code || "",
    //       };
    //
    //       addText("Error: " + JSON.stringify(errorBuild));
    //       toggleLoader(2, "hidden");
    //       return;
    //     }
    //
    //     response.body
    //       .getReader()
    //       .read()
    //       .then(({ done, value }) => {
    //         var converted = fromUTF8Array(value);
    //         addText("Validation status from server: " + converted);
    //         //don't need to keep reading. responses are short by default on this.
    //         //I don't know what js uses as the default chunk size... don't want to
    //         //write the recursive stuff.
    //         // toggleLoader(2, "hidden");
    //         // document.getElementById("SignupButton").disabled = true;
    //         // document.getElementById("RecaptchaButton").disabled = true;
    //
    //         addText(
    //           "Refresh page or click the clear button for a hard reset. Then you can go another round."
    //         );
    //
    //         addText("END LOG.");
    //       });
    //   });
    // }
    
    async function sendData(recaptok) {
          addText(
            "Sending token to server for 2nd validation (frontend -> backend)."
          );
          const frm = document.getElementById("mySignupForm");
          const params = new URLSearchParams([...new FormData(frm).entries()]);
          params.append("RecaptchaToken", recaptok);
          const siteVerifyPath = "https://www.recaptcha.net/recaptcha/api/siteverify?secret=6LfoQTcbAAAAAF52AbgQpSloYvtyV-OyDezNqW-V&response="+recaptok;
           addText("siteVerifyPath: " + siteVerifyPath);
          fetch(siteVerifyPath, {
            method: "POST",
            body: params,
          }).then((response) => {
             addText("response: " + JSON.stringify(response));
            if (!response.ok) {
              // const errorBuild = {
              //   type: "Error",
              //   message: response.message || "Something went wrong",
              //   data: response.data || "",
              //   code: response.code || "",
              // };
    
              addText("Error: ");
              // toggleLoader(2, "hidden");
              return;
            }
    
            response.body
              .getReader()
              .read()
              .then(({ done, value }) => {
                var converted = fromUTF8Array(value);
                addText("Validation status from server: " + converted);
                
                if (converted.success && success.scrollElement >= 0.5) {
                    // Call signUp
                  }
                
                addText(
                  "Refresh page or click the clear button for a hard reset. Then you can go another round."
                );
    
                addText("END LOG.");
              });
          });
        }

    //utils
    function fromUTF8Array(data) {
      // array of bytes
      var str = "",
        i;

      for (i = 0; i < data.length; i++) {
        var value = data[i];

        if (value < 0x80) {
          str += String.fromCharCode(value);
        } else if (value > 0xbf && value < 0xe0) {
          str += String.fromCharCode(
            ((value & 0x1f) << 6) | (data[i + 1] & 0x3f)
          );
          i += 1;
        } else if (value > 0xdf && value < 0xf0) {
          str += String.fromCharCode(
            ((value & 0x0f) << 12) |
            ((data[i + 1] & 0x3f) << 6) |
            (data[i + 2] & 0x3f)
          );
          i += 2;
        } else {
          // surrogate pair
          var charCode =
            (((value & 0x07) << 18) |
              ((data[i + 1] & 0x3f) << 12) |
              ((data[i + 2] & 0x3f) << 6) |
              (data[i + 3] & 0x3f)) -
            0x010000;

          str += String.fromCharCode(
            (charCode >> 10) | 0xd800,
            (charCode & 0x03ff) | 0xdc00
          );
          i += 3;
        }
      }

      return str;
    }

    function addText(txt) {
      txt += "\n\n";
      document.getElementById("log").value += txt;
      document.getElementById("log").scrollTop = document.getElementById(
        "log"
      ).scrollHeight;
    }

    function clearText() {
      document.getElementById("log").value = "";
    }
  
    function toggleLoader(loaderNum, visibility) {
      document.getElementById(
        "loader" + loaderNum
      ).style.visibility = visibility;
    }
  
    function sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    }
  
  </script>
</body>

</html>